{% extends "reddit/index.html" %}
{% load reddit_filter %}


{% block title %}Memefeed By Yinnerston{% endblock %}

{%block page_name %}
    {% if author_not_found %}
        <h2>Invalid author name!</h2>
    {% elif author %}
        <h2>Posts from r/{{author.name}}</h2>
    {% endif %}
{% endblock %}

{% block content %}
	{% if page_obj %}
		{% for submissions_list in page_obj %}
			<div class="items">
				{% for submission in submissions_list %}
					{% comment %}
					See src\memefeed\reddit\templatetags\reddit_filter.py for implementation
					{% endcomment %}
					<article class="item thumb span-1">
						<h2>
							<strong>{{submission.title}}</strong><br>
							<a href="{% url 'reddit:author_view' submission.author %}">r/{{submission.subreddit}}</a><br>
							{{ submission.score }}⬆️ by u/{{submission.author}}
						</h2>
						{{ submission | display_media | safe }}
					</article>


				{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<p>No submissions found.</p>
	{% endif %}
{% endblock %}
