{% load static %}

<div class="headernav">
    <link rel="stylesheet" href="{% static 'reddit/assets/css/header.css' %}">
    {% url 'reddit:index' as index_url %}
    {% url 'reddit:compose_search' as compose_search_url %}
    {% comment %} {% url 'reddit:search_results' as results_url %} {% endcomment %}
    <section id="header_section1">
        <a href="{{ index_url }}"><img src="{% static 'reddit/images/memefeed-logo.svg' %}" alt="Memefeed Logo" height="64px" width="auto"></a>
    </section>
    <section id="header_section2">
        <a href="{{ compose_search_url }}"><img src="{% static 'reddit/images/compose-search-button.svg' %}" alt="Compose Search" height="64px" width="auto"></a>
    </section>
</div>
