<div class="headernav">
    {% url 'reddit:index' as index_url %}
    {% url 'reddit:compose_search' as compose_search_url %}
    {% comment %} {% url 'reddit:search_results' as results_url %} {% endcomment %}

    <a href="{{ index_url }}">Memefeed</a>
    {% comment %} <form action="{{ results_url }}" method="get">{% csrf_token %}
        {{ form.q }}
        {{ form.sort_by }}
        <input type="submit" value="Search">
    </form> {% endcomment %}
    <form action="{{ compose_search_url }}">
        <input type="submit" value="Compose Search">
    </form>
    
    
</div>


