{% extends "reddit/base.html" %}
{% load reddit_filter %}
{% load static %}

{% block title %}Memefeed By Yinnerston{% endblock %}

{%block page_name %}
    <h2>Top Recent Posts!</h2>
{% endblock %}


{% block content %}
	{% if page_obj %}
		{% for submissions_list in page_obj %}
			<div class="items">
				{% for submission in submissions_list %}
					{% comment %}
					See src\memefeed\reddit\templatetags\reddit_filter.py for implementation
					{% endcomment %}
					<article class="item thumb span-1">
						<h2>
							<strong>{{submission.title}}</strong><a href="{{submission.permalink}}"><i class="fa fa-link" aria-hidden="true"></i></a>
							<br>
							<a href="{% url 'reddit:subreddit_view' submission.subreddit %}">r/{{submission.subreddit}}</a><br>
							{{ submission.score }}⬆️ by <a href="{% url 'reddit:author_view' submission.author %}">u/{{submission.author}}</a>
						</h2>
						{{ submission | display_media | safe }}
					</article>


				{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<p>No submissions found.</p>
	{% endif %}
{% endblock %}

{% block footer %}
	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1&sort_by={{ sort_by }}">&laquo; first</a>
				<a href="?page={{ page_obj.previous_page_number }}&sort_by={{ sort_by }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}&sort_by={{ sort_by }}">next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}&sort_by={{ sort_by }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
	<a href="{% url 'reddit:search_results' %}">
		<h2 class="FooterIndexLink">See All</h2>
	</a>
{% endblock %}