version: '3.8'

services:
  memefeed:
    build: ./src/memefeed
    # sh -c 'while !</dev/tcp/db/5432; do sleep 1; done;
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src/memefeed:/app
    ports:
      - 8000:8000
    environment:
      - DEBUG=1
      - DATABASE_URL=postgresql://memefeeduser:${POSTGRES_PASSWORD}@db:5432/memefeed
      - DJANGO_DEV_SECRET_KEY=${DJANGO_DEV_SECRET_KEY}
    depends_on:
      - db
  db:
    image: postgres:13.9-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    environment:
      - POSTGRES_USER=memefeeduser
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=memefeed

volumes:
  postgres_data:
