html,body{height:100%}

.headernav  {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #383838;
}

#header_section2    {
    margin-left: 20px;
}