#header_index_h1    {
    margin-right: 10px;
    color: black;
}

#header_index_h1:hover  {
    color: red;
}

#header_compose_search, select, textarea  {
    color: black;
}

#header_compose_search:hover  {
    color: red;
}

.headernav  {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
